<p id="notice"><%= notice %></p>
<p class="user_info">Hello <%= current_user.email %>.
 <%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></p>
<p class="breadcrumb"><%= link_to 'Home', root_path %> / <%= link_to 'Sandwiches List', sandwiches_path %> / <%= @sandwich.title %> </p>

<!-- <p>
  <strong>Latitude:</strong>
  <%= @sandwich.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @sandwich.longitude %>
</p> -->
<div class="right">
<p>
  <strong>Title:</strong>
  <%= @sandwich.title %>
</p>
<p>
  <strong>Address:</strong>
  <%= @sandwich.address %> 
</p>

<p>
  <strong>Description:</strong>
  <%= @sandwich.description %>
</p>
</div>

<p class="left">
  <img class="show" src="<%= @sandwich.image_url %>">
</p>

<%= link_to 'Edit', edit_sandwich_path(@sandwich) %> |
<%= link_to 'Back', sandwiches_path %>
